In [1]:
import pandas as pd
import numpy as np
from lbencoder import LbEncoder

from sklearn.preprocessing import LabelEncoder

pd.set_option('display.max_columns',None)
pd.options.display.max_rows = 100

df = pd.read_csv('train.csv')
df = df.sort_values('SalePrice',ascending=True)

data_sample = df.iloc[:15,:][['Neighborhood','SalePrice']]

In [2]:
skl_encoder = LabelEncoder()
skl_data = pd.DataFrame(skl_encoder.fit_transform(data_sample.iloc[:,0]), index=data_sample.index,columns=['LabelEncoder'])

our_encoder = LbEncoder()

our_encoder_desc = pd.DataFrame(our_encoder.fit_transform(data_sample.iloc[:,0],sort_by=('desc')), index=data_sample.index, columns=['LbEncoder(desc)'])
desc_labels = our_encoder.labels

our_encoder_occur = pd.DataFrame(our_encoder.fit_transform(data_sample.iloc[:,0],sort_by=('occurrence')), index=data_sample.index, columns=['LbEncoder(occur)'])
occur_labels = our_encoder.labels

_list = ['OldTown', 'IDOTRR', 'Edwards', 'BrkSide','SWISU']
our_encoder_occur = pd.DataFrame(our_encoder.fit_transform(data_sample.iloc[:,0],sort_by=(_list)), index=data_sample.index, columns=['LbEncoder(list)'])
list_labels = our_encoder.labels

pd.concat([our_encoder_occur,our_encoder_desc,skl_data,data_sample], axis=1)

      LbEncoder(list)  LbEncoder(desc)  LabelEncoder Neighborhood  SalePrice
495                 1                2             2       IDOTRR      34900
916                 1                2             2       IDOTRR      35311
968                 0                1             3      OldTown      37900
533                 3                4             0      BrkSide      39300
30                  1                2             2       IDOTRR      40000
710                 3                4             0      BrkSide      52000
1337                0                1             3      OldTown      52500
705                 1                2             2       IDOTRR      55000
1325                1                2             2       IDOTRR      55000
812                 1                2             2       IDOTRR      55993
1380                2                3             1      Edwards      58500
410                 2                3             1      Edwards      60000
636                 3                4             0      BrkSide      60000
1100                4                0             4        SWISU      60000
375                 2                3             1      Edwards      61000

In [3]:
print('Labels Ascending: \t{}\nLabels Descending: \t{}\nLabels Occurrences: \t{}\nLabels by List: \t{}\n'
      .format(list(skl_encoder.classes_),desc_labels, occur_labels, list_labels))

Labels Ascending: 	['BrkSide', 'Edwards', 'IDOTRR', 'OldTown', 'SWISU']
Labels Descending: 	['SWISU', 'OldTown', 'IDOTRR', 'Edwards', 'BrkSide']
Labels Occurrences: 	['IDOTRR', 'OldTown', 'BrkSide', 'Edwards', 'SWISU']
Labels by List: 	['OldTown', 'IDOTRR', 'Edwards', 'BrkSide', 'SWISU']

In [4]:
our_encoder.get_unique(data_sample.iloc[:,0])

array(['IDOTRR', 'OldTown', 'BrkSide', 'Edwards', 'SWISU'], dtype=object)

In [5]:
our_encoder.get_current_sort(data_sample.iloc[:,0])

['IDOTRR', 'OldTown', 'BrkSide', 'Edwards', 'SWISU']