In [1]:
import pandas as pd
import numpy as np
from lbencoder import LbEncoder

from sklearn.preprocessing import LabelEncoder

pd.set_option('display.max_columns',None)
pd.options.display.max_rows = 100

df = pd.read_csv('train.csv')
df = df.sort_values('SalePrice',ascending=True)

data_sample = df.iloc[:15,:][['Neighborhood','SalePrice']]
data_sample.values

array([['IDOTRR', 34900],
       ['IDOTRR', 35311],
       ['OldTown', 37900],
       ['BrkSide', 39300],
       ['IDOTRR', 40000],
       ['BrkSide', 52000],
       ['OldTown', 52500],
       ['IDOTRR', 55000],
       ['IDOTRR', 55000],
       ['IDOTRR', 55993],
       ['Edwards', 58500],
       ['Edwards', 60000],
       ['BrkSide', 60000],
       ['SWISU', 60000],
       ['Edwards', 61000]], dtype=object)

In [ ]:
skl_encoder = LabelEncoder()
skl_data = pd.DataFrame(skl_encoder.fit_transform(data_sample.iloc[:,0]), index=data_sample.index,columns=['LabelEncoder'])

our_encoder = LbEncoder()
our_encoder_desc = pd.DataFrame(our_encoder.fit_transform(data_sample.iloc[:,0],sort_by=('desc')), index=data_sample.index,columns=['LbEncoder-desc'])

pd.concat([our_encoder_desc,skl_data,data_sample], axis=1)

In [9]:
data_sample = df.iloc[:15,:][['Neighborhood','SalePrice']]
skl_encoder = LabelEncoder()
skl_encoder.fit(data_sample.iloc[:,0])
skl_encoder.classes_

array(['BrkSide', 'Edwards', 'IDOTRR', 'OldTown', 'SWISU'], dtype=object)

In [11]:
data_sample.isetitem(0,skl_encoder.transform(data_sample.iloc[:,0]))
data_sample

      Neighborhood  SalePrice
495              2      34900
916              2      35311
968              3      37900
533              0      39300
30               2      40000
710              0      52000
1337             3      52500
705              2      55000
1325             2      55000
812              2      55993
1380             1      58500
410              1      60000
636              0      60000
1100             4      60000
375              1      61000

In [6]:
data_sample.isetitem(0, skl_encoder.transform(data_sample.iloc[:,0]))
data_sample

/tmp/ipykernel_6655/1010184013.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data_sample.iloc[:,0] = skl_encoder.transform(data_sample.iloc[:,0])

      Neighborhood  SalePrice
495              2      34900
916              2      35311
968              3      37900
533              0      39300
30               2      40000
710              0      52000
1337             3      52500
705              2      55000
1325             2      55000
812              2      55993
1380             1      58500
410              1      60000
636              0      60000
1100             4      60000
375              1      61000

In [ ]:
skl_encoder.classes_ = np.array(['BrkSide', 'Edwards', 'IDOTRR', 'OldTown', 'SWISU'], dtype=object)
skl_encoder.classes_

In [42]:
from sklearn.preprocessing import LabelEncoder

class LbEncoder2(LabelEncoder):
        def __init__(self):
            super().__init__
            pass
        
        def get_current_sort(self,data):
            current_sort =[]
            for i in data:
                if i not in current_sort:
                    current_sort.append(i)
            return current_sort

        def fit_transform(self, data, sort_by=()):
            if not (isinstance(data, np.ndarray) or isinstance(data, pd.Series)):
                raise Exception('The data parameter must be Pandas Series or Numpy Array')

            data_return = data.copy()
            if isinstance(sort_by[0], str):
                if sort_by[0] == 'asc':
                    data_return = super().fit_transform(data_return)
                    
                elif sort_by[0] in ['desc','occurrence']:
                    super().fit(data_return)
                    aux = data_return
                    if sort_by[0] == 'desc':
                        aux = data_return.sort_values(ascending=False)
                    self.classes_ = np.array(self.get_current_sort(aux), dtype=object)
                    #self.classes_ = self.get_current_sort(aux)
                    data_return = super().transform(data_return)

            elif isinstance(sort_by[0], list):
                super().fit(data_return)
                self.classes_ = np.array(sort_by[0], dtype=object)
                data_return = super().transform(data_return)
            
            data = data_return.copy(deep=True)
            return data
            
            
data_sample = df.iloc[:15,:][['Neighborhood','SalePrice']]            
lb = LbEncoder2()

lb.fit_transform(data_sample[data_sample.columns[0]],sort_by=('asc'))
data_sample

     Neighborhood  SalePrice
495        IDOTRR      34900
916        IDOTRR      35311
968       OldTown      37900
533       BrkSide      39300
30         IDOTRR      40000
710       BrkSide      52000
1337      OldTown      52500
705        IDOTRR      55000
1325       IDOTRR      55000
812        IDOTRR      55993
1380      Edwards      58500
410       Edwards      60000
636       BrkSide      60000
1100        SWISU      60000
375       Edwards      61000

In [39]:
data_sample[data_sample.columns[0]]

495      IDOTRR
916      IDOTRR
968     OldTown
533     BrkSide
30       IDOTRR
710     BrkSide
1337    OldTown
705      IDOTRR
1325     IDOTRR
812      IDOTRR
1380    Edwards
410     Edwards
636     BrkSide
1100      SWISU
375     Edwards
Name: Neighborhood, dtype: object

In [ ]:
current_sort =[]
for i in data_sample.iloc[:,0]:
    if i not in current_sort:
        current_sort.append(i)

current_sort

In [25]:
x = np.array([['IDOTRR', 34900],
       ['IDOTRR', 35311],
       ['OldTown', 37900],
       ['BrkSide', 39300],
       ['IDOTRR', 40000],
       ['BrkSide', 52000],
       ['OldTown', 52500],
       ['IDOTRR', 55000],
       ['IDOTRR', 55000],
       ['IDOTRR', 55993],
       ['Edwards', 58500],
       ['Edwards', 60000],
       ['BrkSide', 60000],
       ['SWISU', 60000],
       ['Edwards', 61000]], dtype=object)

In [32]:
y = df.iloc[:15,:][['Neighborhood']]

y.isetitem(0, skl_encoder.transform( y ))
y

/home/xslyr/.local/lib/python3.8/site-packages/sklearn/preprocessing/_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

      Neighborhood
495              2
916              2
968              3
533              0
30               2
710              0
1337             3
705              2
1325             2
812              2
1380             1
410              1
636              0
1100             4
375              1

In [34]:
x = pd.DataFrame(y)
x

      Neighborhood
495              2
916              2
968              3
533              0
30               2
710              0
1337             3
705              2
1325             2
812              2
1380             1
410              1
636              0
1100             4
375              1